<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Sisaynesh Shegawork- Personal Portfolio</title>
</head>

<body>
<h1>☰</h1>
<h1>alx</h1>
h1{
    background-color: aliceblue;
    display:flex;
    flex-direction: row;
    gap: 20px;
    margin: 0;
    height: 100vh
}
.sigin{
    flex-direction:column;

}

main {
    display: flex;
    flex-direction: row; 
    flex: auto; 
}

article {
    flex: 2; 
    overflow-y: auto; 
    padding: 10px;
    background-color: #f1f1f1;
}

aside {
    flex: 1; 
    overflow-y: auto; 
    padding: 10px;
    background-color: #e2e2e2;
}

header, footer {
    padding: 10px;
    background-color: #ccc;
    text-align: start;
}

{h2
    flex-direction: column;
}